/.vs
/.vscode
bin/
obj/
.svn/
*.csproj.user
*.sln.DotSettings.user
*.pubxml.user
.idea/
/NG.sln.DotSettings
appsettings.Development.json
.DS_Store
gitInfo.txt
NuGet.config
Api/Migrations/Chinook_SqlServer_AutoIncrementPKs.sql
Api/Migrations/northwind_short.sql
Tests/ChinookTestBase.Database.cs
