/.vs
/.vscode
bin/
obj/
.svn/
*.csproj.user
*.sln.DotSettings.user
*.pubxml.user
.idea/
/NG.sln.DotSettings
appsettings.Development.json
.DS_Store
gitInfo.txt
NuGet.config
Migrations/Chinook_SqlServer_AutoIncrementPKs.sql
Migrations/northwind_short.sql
